.lower_apply{
    border: 1px solid #F7F7F7;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 13px;
    .lower_apply-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        background: #F7F7F7;
        box-sizing: border-box;
        padding: 0 15px;
        border-radius: 6px 6px 0 0;
        span{
            color: #3A9DEF;
            cursor: pointer;
        }
    }
    .lower_apply-content{
        display: flex;
        flex-direction: column;
        // align-items: center;
        .upper-logo{
            width: 260px;
            height: 130px;
            margin: 0 auto;
        }
        div{
            display: flex;
            align-items: flex-start;
            box-sizing: border-box;
            padding: 0 15px;
            color: #666666;
            min-height: 24px;
            padding-top: 7px;
            span{
                width: 80px;
            }
            p{
                flex: 1;
                padding: 0;
                margin: 0;
            }
        }
    }
    .lower_apply-foot{
        padding-top: 10px;
        padding-right: 15px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row-reverse;
        button{
            margin-left: 15px;
        }
    }
    .no_kc{
        // width: 200px;
        margin: 50px auto;
    }
}